/* Remove the background image of #app */
#app {
  background-image: none !important;
}

/* Set the new background in CSS */
*{
  margin: 0px;
  padding: 0px;
}

.bg-ctn{
  position: absolute;
  top: 0;
  left: 0;
  background: #2e3234;  
  background: -webkit-linear-gradient(to left, #50565a, #2e3234);  
  width: 100%;
  height:100vh;
}

.bg-circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.bg-circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.bg-circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.bg-circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.bg-circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.bg-circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.bg-circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.bg-circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.bg-circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.bg-circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.bg-circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


/*
Credits: Christopher Kirk-Nielsen
URL: https://css-art.com/nintendo-switch-in-css/
------------------------------------------------
The original code isn't mine. If you like it, please consider going on the original.
*/

*, *::before, *::after {
  box-sizing: border-box;
  border-color: #2c2b28;
  border-style: solid;
  border-width: 0;
}
html, body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #333;
  background-image: linear-gradient(42deg, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25));
  background-attachment: fixed;
  overflow: hidden;
}
.switch {
  position: relative;
  width: 1em;
  height: 0.4372em;
  font-size: 90vmin;
}
.body {
  position: absolute;
  left: 13.75%;
  top: 2%;
  bottom: 0;
  width: 72.5%;
  border-width: 0.005em;
  background-color: #515056;
}
.joycon {
  position: absolute;
  top: 0;
  width: 14.45%;
  height: 100%;
  border-width: 0.005em;
  box-shadow: inset 0 0.005em 0 rgba(0, 0, 0, 0.1), inset 0 -0.01em 0 rgba(0, 0, 0, 0.1), inset 0 -0.03em 0 rgba(0, 0, 0, 0.1);
  animation: joyconSnap 0.75s ease-out backwards 1;
}
.joycon--left {
  left: 0;
  background-color: #5dc0e0;
  border-radius: 0.0875em 0 0 0.0875em;
  animation-delay: -0.25s;
}
.joycon--right {
  right: 0;
  background-color: #e77366;
  border-radius: 0 0.0875em 0.0875em 0;
}
.joycon__sign {
  position: absolute;
  top: 0.0325em;
  width: 0.02em;
  height: 0.005em;
  background: #2c2b28;
}
.joycon__sign--minus {
  right: 0.01em;
}
.joycon__sign--plus {
  position: absolute;
  left: 0.01em;
}
.joycon__sign--plus::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(90deg);
}
.joycon__stick {
  position: absolute;
  width: 0.07377em;
  height: 0.07377em;
  border-width: 0.005em;
  border-radius: 50%;
  background-color: #6b6b6d;
  box-shadow: 0.005em -0.005em 0 0.0025em rgba(0, 0, 0, 0.1);
}
.joycon__stick::before, .joycon__stick::after {
  content: '';
  position: absolute;
  left: calc(50% - 0.0025em);
  top: 0;
  width: 0.005em;
  height: 100%;
  background-color: #2c2b28;
}
.joycon__stick::after {
  transform: rotate(90deg);
}
.joycon__stick--left {
  left: 0.035em;
  top: 0.07377em;
}
.joycon__stick--right {
  right: 0.035em;
  top: 0.1913em;
}
.joycon__stickCenter {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border-width: 0.005em;
  border-radius: 50%;
  background-color: #6b6b6d;
  box-shadow: inset 0.0025em -0.0025em 0 rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.joycon__cross {
  position: absolute;
  width: 0.0875em;
  height: 0.0875em;
  transform: rotate(45deg);
}
.joycon__cross--left {
  right: 0.02em;
  top: 0.183em;
}
.joycon__cross--right {
  left: 0.02em;
  top: 0.0656em;
}
.joycon__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.038em;
  height: 0.038em;
  border-width: 0.005em;
  border-radius: 50%;
  box-shadow: inset 0.0025em -0.0025em 0 rgba(255, 255, 255, 0.5);
  transform: rotate(-45deg);
}
.joycon__cross--left .joycon__button {
  background-color: #6b6b6d;
}
.joycon__cross--right .joycon__button {
  background-color: #403e41;
}
.joycon__button--top {
  left: 0;
  top: 0;
}
.joycon__button--left {
  left: 0;
  bottom: 0;
}
.joycon__button--right {
  right: 0;
  top: 0;
}
.joycon__button--bottom {
  right: 0;
  bottom: 0;
}
.joycon__options {
  position: absolute;
  top: 0.3em;
  width: 0.035em;
  height: 0.035em;
  border-width: 0.005em;
  background-color: #6b6b6d;
}
.joycon__options--capture {
  right: 0.025em;
}
.joycon__options--capture::after {
  content: '';
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #2c2b28;
}
.joycon__options--home {
  left: 0.025em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.joycon__options--home::before, .joycon__options--home::after {
  content: '';
  transform: translateY(-0.001em);
}
.joycon__options--home::before {
  width: 0;
  height: 0;
  border-width: 0 0.01em 0.01em 0.01em;
  border-color: transparent transparent #2c2b28 transparent;
}
.joycon__options--home::after {
  width: 50%;
  height: 33%;
  border-width: 0 0.0025em 0.0025em 0.0025em;
}
@keyframes joyconSnap {
  from {
    transform: translateY(-100%);
  }
}
.arrow {
  width: 0;
  height: 0;
}
.arrow--up {
  border-width: 0 0.0075em 0.01em 0.0075em;
  border-color: transparent transparent #2c2b28 transparent;
}
.arrow--left {
  border-width: 0.0075em 0.01em 0.0075em 0;
  border-color: transparent #2c2b28 transparent transparent;
}
.arrow--right {
  border-width: 0.0075em 0 0.0075em 0.01em;
  border-color: transparent transparent transparent #2c2b28;
}
.arrow--down {
  border-width: 0.01em 0.0075em 0 0.0075em;
  border-color: #2c2b28 transparent transparent transparent;
}
.letter {
  font-size: 0.015em;
  line-height: 100%;
  color: #c8c9cc;
}
.tablet, .body {
  transition: transform 0.3s ease-out;
}
.tablet {
  position: absolute;
  left: 15%;
  top: 0;
  width: 70%;
  height: 101%;
  border-width: 0.005em;
  background-color: #515056;
  box-shadow: inset 0 -0.005em 0 rgba(0, 0, 0, 0.1);
}
.tablet__frame {
  position: absolute;
  left: 0.005em;
  right: 0.005em;
  top: 0.01em;
  height: 92.5%;
  border-width: 0.005em;
  border-radius: 0.016em;
  background-color: #403e41;
  overflow: hidden;
}
.tablet__frame::before {
  content: '';
  position: absolute;
  right: 0.0437em;
  bottom: 0;
  width: 0.0328em;
  height: 0.005em;
  background-color: #2c2b28;
}
.tablet__frame::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 30%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.5) 68%, transparent 68%, transparent 100%);
  transform-origin: 0 0;
  animation: tabletShine 0.75s linear 0.5s both 1;
}
.tablet__screen {
  position: absolute;
  left: 0.0437em;
  right: 0.0437em;
  top: 0.027em;
  bottom: 0.027em;
  display: block;
  justify-content: center;
  align-items: center;
  border-width: 0.005em;
  border-radius: 0.005em;
  background-color: #c8c9cc;
  overflow-x: hidden;
  overflow-y: auto;
}
@keyframes tabletShine {
  0% {
    transform: skewX(-30deg) translateX(-100%);
  }
  100% {
    transform: skewX(-30deg) translateX(150%);
  }
}
.grip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.25em;
  z-index: 0;
  overflow: visible;
  width: 0.4372em;
  height: 0.4372em;
  margin: auto;
  border-width: 0.005em;
  border-radius: 0.0875em;
  background-color: #403e41;
  background: #403e41 linear-gradient(90deg, #2c2b28 30%, #403e41 0, #403e41 70%, #2c2b28 0);
  transform: translateY(50vh);
  transition: transform 0.3s ease-out;
}
.grip::before, .grip::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 32%;
  height: 90%;
  border-width: 0.005em;
  border-radius: 50% / 25%;
  background-color: #403e41;
  transform-origin: 50% 100%;
}
.grip::before {
  left: -32%;
  transform: rotate(15deg);
}
.grip::after {
  right: -32%;
  transform: rotate(-15deg);
}
@media screen and (max-width: 767px) {
  .tablet, .body {
    transform: translateY(-0.25em);
  }
  .joycon--left {
    animation: joyconLeftDetach 1s ease-out forwards;
  }
  .joycon--right {
    animation: joyconRightDetach 1s ease-out 0.15s forwards;
  }
  .grip {
    transform: translateY(0);
    transition-delay: 0.25s;
  }
}
@keyframes joyconLeftDetach {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(-0.25em) rotate(-9deg);
  }
  50% {
    transform: translateX(0.275em) translateY(-0.25em);
  }
  100% {
    transform: translateX(0.275em) translateY(0.25em);
  }
}
@keyframes joyconRightDetach {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(-0.25em) rotate(9deg);
  }
  50% {
    transform: translateX(-0.275em) translateY(-0.25em);
  }
  100% {
    transform: translateX(-0.275em) translateY(0.25em);
  }
}

/* Custom */
body {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.switch {
  max-width: 100%;
}

.joycon__button {
  cursor: pointer;
}

.joycon__button:active {
  box-shadow: unset;
}

.joycon__sign:active {
  background-color: #6b6b6d;
}

.joycon__options:active {
  background-color: #2c2b28;
}

.joycon__options:active::after {
  background-color: #6b6b6d;
}

.joycon__options:active::before {
  border-color: transparent transparent #6b6b6d transparent;
}

.tablet__screen::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.tablet__screen::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
.tablet__screen::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
.tablet__screen::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}
.tablet__screen::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.9);
}

.joycon__stickCenter {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#sortable .item {
  background-color: #403e41 !important;
  border: 3px solid transparent;
}
#sortable .item.active {
  border-color: #2c2b28;
  transition: border-color 0.2s ease-out;
}

/* Positions of joycon */
.joycon__left {
  left: 40%;
  top: 50%;
}
.joycon__right {
  left: 60%;
  top: 50%;
}
.joycon__top {
  left: 50%;
  top: 40%;
}
.joycon__bottom {
  left: 50%;
  top: 60%;
}

/****CUSTOM FOR HEIMDALL****/

/* Searchbar */
.searchform {
  background: unset;
  border-radius: unset;
  box-shadow: unset;
  border-top: unset;
  border-bottom: unset;
  margin: unset;
}

/* Searchbar container */
#search-container {
  background: unset;
  border-radius: unset;
  box-shadow: unset;
}

/* Select of websites to search from */
.searchform select  {
  display: none;
}

/* Search input */
.searchform input[type="text"] {
  display: block;
  background-color: white;
  border-radius: calc(51px / 2);
  border: 3px solid #2c2b28;
  caret-color: #515056;
}
.searchform input[type="text"]:focus-visible {
  outline: none;
}

/* search button */
.searchform button {
  background-color: #5dc0e0;
  height: 51px;
  /* Border radius at right side */
  border-radius: 0 calc(51px / 2) calc(51px / 2) 0;
  transition: 0.2s ease-in-out;
  border: 3px solid #2c2b28;
}
.searchform button:hover {
  background-color: #e77366;
  transition: 0.2s ease-in-out;
}

/* Icon of search button */
.searchform button > svg {
  fill: #414150;
  width: calc(51px / 2);
  height: calc(51px / 2);
  margin: 0;
  padding: 0;
  margin-top: 3px;
  fill: white;
}

/* List of pinned websites */
#sortable .item {
  width: auto;
  padding-right: 0;
  margin: 15px;
}
#sortable .item::after {
  content: unset;
}

/* Icon for telling the user it is a link */
#sortable .item .link > * {
  display: none;
}

/* Title of the website */
#sortable .details {
  display: none;
}

@media screen and (max-width: 767px) {
  #sortable {
    padding: 0 10px !important;
  }
}

/* Settings mode */
.settings-mode {
  overflow: auto;
  -webkit-user-select: unset; /* Safari */        
  -moz-user-select: unset; /* Firefox */
  -ms-user-select: unset; /* IE10+/Edge */
  user-select: unset; /* Standard */
}

.settings-mode .switch {
  display: none;
}

/*****MARIO******/
:root {
  --mario-size: 50;
  --mario-unit: calc((var(--mario-size) / 383) * 1vmin);
}
.mario {
  height: calc(383 * var(--mario-unit));
  width: calc(250 * var(--mario-unit));
  position: fixed;
  top: 15%;
}
.mario * {
  position: absolute;
}
.mario .hat {
  height: 26%;
  width: 52%;
  background: #ff8185;
  background: linear-gradient(90deg, #ff8185 0%, #fc1c23 17%, #cd1d22 100%);
  top: 0%;
  left: 24%;
  border-radius: 50% 50% 40% 40% / 70% 70% 30% 30%;
  z-index: 4;
}
.mario .hat .logo {
  width: 34%;
  height: 38%;
  background: linear-gradient(180deg, white 60%, #757575 100%);
  left: 33%;
  top: 12%;
  border-radius: 50%;
  box-shadow: inset 1px 1px 5px #757575;
  border: 2px solid #ccc;
}
.mario .hat .logo span:nth-of-type(1) {
  width: 45%;
  height: 65%;
  background: #cd1d22;
  left: 11%;
  top: 10%;
  z-index: 10;
  transform: rotate(30deg);
  clip-path: polygon(25% 100%, 20% 10%, 40% 20%, 65% 100%);
  -webkit-clip-path: polygon(25% 100%, 20% 10%, 40% 20%, 65% 100%);
}
.mario .hat .logo span:nth-of-type(2) {
  width: 45%;
  height: 65%;
  background: #cd1d22;
  left: 30%;
  top: 0%;
  z-index: 10;
  transform: rotate(-30deg);
  clip-path: polygon(25% 80%, 15% 20%, 34% 5%, 54% 67%);
  -webkit-clip-path: polygon(29% 80%, 12% 24%, 33% 5%, 59% 70%);
}
.mario .hat .logo span:nth-of-type(3) {
  width: 45%;
  height: 65%;
  background: #cd1d22;
  left: 35%;
  top: 0%;
  z-index: 10;
  transform: rotate(30deg);
  clip-path: polygon(60% 85%, 30% 75%, 49% 11%, 74% 30%);
  -webkit-clip-path: polygon(60% 85%, 30% 72%, 50% 13%, 74% 30%);
}
.mario .hat .logo span:nth-of-type(4) {
  width: 45%;
  height: 65%;
  background: #cd1d22;
  right: 6%;
  top: 10%;
  z-index: 10;
  transform: rotate(-30deg);
  clip-path: polygon(70% 95%, 30% 100%, 50% 30%, 75% 5%);
  -webkit-clip-path: polygon(70% 95%, 30% 100%, 50% 30%, 72% 5%);
}
.mario .hat .peak {
  height: 38%;
  width: 86%;
  top: 43%;
  left: 7%;
  background: linear-gradient(90deg, #f85e63 2%, #bd171d 10%, #cd1d22 100%);
  border-top: solid 5px #f55;
  border-radius: 50% 50% 0% 0%/ 100% 100% 0% 0%;
}
.mario .face {
  width: 38%;
  height: 27%;
  background: #b37963;
  background: linear-gradient(276deg, #b37963 25%, #fbbca4 54%, #ffd4c3 80%);
  left: 31%;
  top: 14.5%;
  border-radius: 50% 50% 50% 50% / 22% 22% 70% 70%;
  z-index: 5;
  overflow: hidden;
  box-shadow: inset 0px 2px 2px #865b49;
}
.mario .face #overlay {
  width: 100%;
  height: 20%;
  background: rgba(48, 37, 33, 0.2);
  filter: blur(1px);
  top: 0%;
  z-index: 20;
}
.mario .face .brow {
  width: 26%;
  height: 18%;
  left: 12%;
  top: 0%;
  background: #0f0613;
  border-radius: 32% 80% 0% 0% / 100% 100% 0% 0%;
}
.mario .face .brow span:nth-of-type(1) {
  width: 94%;
  height: 76%;
  border-radius: 50%;
  left: 3%;
  top: 70%;
  background: #b37963;
  background: linear-gradient(276deg, #fbbca4 54%, #ffd4c3 80%);
}
.mario .face .brow-right {
  width: 26%;
  height: 18%;
  right: 12%;
  top: 0%;
  background: #0f0613;
  border-radius: 32% 80% 0% 0% / 100% 100% 0% 0%;
  transform: scaleX(-1);
}
.mario .face .brow-right span:nth-of-type(1) {
  width: 94%;
  height: 76%;
  border-radius: 50%;
  right: 3%;
  top: 70%;
  background: #b37963;
  background: linear-gradient(-276deg, #b37963 86%, #e9ad96 100%);
}
.mario .chin {
  width: 42%;
  height: 20%;
  background: #b37963;
  background: linear-gradient(276deg, #b37963 25%, #fbbca4 54%, #ffd4c3 80%);
  top: 21%;
  left: 29%;
  border-radius: 100% 100% 100% 100%;
  z-index: 5;
}
.mario .chin .nose {
  width: 45%;
  height: 50%;
  top: 14%;
  left: 28%;
  border: calc(var(--mario-unit) * 0.3) #f8c6b2 solid;
  background: #b37963;
  background: radial-gradient(circle at 32% 22%, #ffd4c3 1%, #fbbca4 54%, #b37963 80%);
  border-radius: 50%;
}
.mario .chin .nose .tash {
  width: 170%;
  height: 100%;
  top: -38%;
  left: -35%;
  background: #b37963;
  background: linear-gradient(276deg, #b37963 25%, #fbbca4 54%, #ffd4c3 80%);
  z-index: -2;
  border-radius: 50%;
}
.mario .chin .nose span:nth-of-type(1) {
  width: 49%;
  height: 78%;
  border-radius: 50%;
  left: -38%;
  top: 11%;
  transform: rotate(50deg);
  background: linear-gradient(0deg, #0f0613 3%, #2c1a1d 25%, #0f0613 100%);
  z-index: -10;
}
.mario .chin .nose span:nth-of-type(2) {
  width: 49%;
  height: 78%;
  border-radius: 50%;
  left: -18%;
  top: 33%;
  transform: rotate(30deg);
  background: linear-gradient(5deg, #0f0613 18%, #2c1a1d 29%, #0f0613 90%);
  z-index: -10;
}
.mario .chin .nose span:nth-of-type(3) {
  width: 49%;
  height: 78%;
  border-radius: 50%;
  left: 10%;
  top: 42%;
  transform: rotate(0deg);
  background: linear-gradient(0deg, #0f0613 18%, #2c1a1d 35%, #0f0613 90%);
  z-index: -10;
}
.mario .chin .nose span:nth-of-type(4) {
  width: 49%;
  height: 78%;
  border-radius: 50%;
  left: 40%;
  top: 42%;
  transform: rotate(0deg);
  background: #0f0613;
  z-index: -10;
}
.mario .chin .nose span:nth-of-type(5) {
  width: 40%;
  height: 70%;
  border-radius: 50%;
  right: -13%;
  top: 40%;
  transform: rotate(-30deg);
  background: linear-gradient(0deg, #0f0613 48%, #2c1a1d 80%, #0f0613 50%);
  z-index: -10;
}
.mario .chin .nose span:nth-of-type(6) {
  width: 49%;
  height: 78%;
  border-radius: 50%;
  right: -38%;
  top: 11%;
  transform: rotate(-50deg);
  background: radial-gradient(circle at 100% 0%, #0f0613 18%, #2c1a1d 25%, #0f0613 90%);
  z-index: -11;
}
.mario .chin .mouth {
  width: 40%;
  height: 30%;
  top: 47%;
  left: 30%;
  border-radius: 0% 0% 35% 35%;
  border-bottom: 2px #8f5540 solid;
  filter: blur(0.4px);
  z-index: -11;
}
.mario .chin .mouth span:nth-of-type(1) {
  width: 80%;
  height: 56%;
  border-radius: 0% 0% 35% 35%;
  left: 10%;
  top: 80%;
  border-bottom: 2px rgba(136, 93, 77, 0.3) solid;
  filter: blur(1px);
}
.mario .chin .eye {
  width: 22%;
  height: 42%;
  border-radius: 50%;
  left: 20%;
  top: -10%;
  background: linear-gradient(0deg, white 87%, #757575 100%);
  z-index: -1;
  overflow: hidden;
  box-shadow: -1px -1px 2px #8f5540, 1px 2px 2px #8f5540;
}
.mario .chin .eye span:nth-of-type(1) {
  width: 79%;
  height: 76%;
  border-radius: 50%;
  left: 25%;
  top: 13%;
  border: calc(var(--mario-unit) * 0.5) #4e4ebe solid;
  background: radial-gradient(circle at 70% 60%, #2eceff 50%, #4f36ff 80%);
}
.mario .chin .eye span:nth-of-type(2) {
  width: 45%;
  height: 46%;
  border-radius: 50%;
  left: 45%;
  top: 33%;
  background: radial-gradient(circle at 60% 70%, #130866 20%, black 30%);
}
.mario .chin .eye span:nth-of-type(3) {
  width: 12%;
  height: 10%;
  border-radius: 50%;
  left: 62%;
  top: 36%;
  background: white;
  filter: blur(1px);
}
.mario .chin .eye-right {
  width: 22%;
  height: 42%;
  border-radius: 50%;
  top: -10%;
  background: linear-gradient(0deg, white 87%, #757575 100%);
  z-index: -1;
  overflow: hidden;
  right: 20%;
  transform: scaleX(-1);
  box-shadow: -1px -1px 2px #8f5540, 1px 2px 2px #8f5540;
}
.mario .chin .eye-right span:nth-of-type(1) {
  width: 79%;
  height: 76%;
  border-radius: 50%;
  left: 25%;
  top: 13%;
  border: calc(var(--mario-unit) * 0.5) #4e4ebe solid;
  background: radial-gradient(circle at 70% 60%, #2eceff 50%, #4f36ff 80%);
}
.mario .chin .eye-right span:nth-of-type(2) {
  width: 45%;
  height: 46%;
  border-radius: 50%;
  left: 45%;
  top: 33%;
  background: radial-gradient(circle at 60% 70%, #130866 20%, black 30%);
}
.mario .chin .eye-right span:nth-of-type(3) {
  width: 12%;
  height: 10%;
  border-radius: 50%;
  left: 62%;
  top: 36%;
  background: white;
  filter: blur(1px);
}
.mario #hair-left, .mario #hair-right {
  height: 10%;
  width: 4%;
  background: #802f2b;
  background: linear-gradient(90deg, #802f2b 0%, #55100c 48%, #230705 86%);
  z-index: 4;
  top: 19%;
  border-radius: 80% 0% 0% 50% / 80% 10% 0% 20%;
}
.mario #hair-left {
  left: 28%;
}
.mario #hair-right {
  right: 28%;
  transform: scaleX(-1);
}
.mario #ear-left, .mario #ear-right {
  height: 11%;
  width: 7%;
  background: #b37963;
  top: 22%;
  z-index: -1;
  border-radius: 50% 0% 0% 100% / 22% 0% 0% 62%;
}
.mario #ear-left {
  left: 23%;
  background: linear-gradient(276deg, #b37963 25%, #fbbca4 54%, #ffd4c3 80%);
}
.mario #ear-left span:nth-of-type(1) {
  width: 65%;
  height: 56%;
  border-radius: 50% 100% 0% 100%;
  left: 20%;
  top: 17%;
  background: linear-gradient(-150deg, #b37963 25%, #fbbca4 54%, rgba(255, 212, 195, 0.1) 80%);
  border-left: 2px rgba(143, 85, 64, 0.2) solid;
  filter: blur(0.4px);
}
.mario #ear-left span:nth-of-type(2) {
  width: 35%;
  height: 36%;
  border-radius: 50% 100% 0% 100%;
  left: 50%;
  top: 37%;
  background: linear-gradient(-150deg, #b37963 25%, #fbbca4 54%, rgba(255, 212, 195, 0.1) 80%);
  border-top: 2px rgba(143, 85, 64, 0.4) solid;
  border-left: 2px rgba(143, 85, 64, 0.4) solid;
  filter: blur(0.4px);
}
.mario #ear-right {
  right: 23%;
  transform: scaleX(-1);
  background: linear-gradient(-276deg, #b37963 25%, #d89d86 54%);
}
.mario #ear-right span:nth-of-type(1) {
  width: 65%;
  height: 56%;
  border-radius: 50% 100% 0% 100%;
  left: 20%;
  top: 17%;
  background: linear-gradient(-150deg, #b37963 25%, #fbbca4 54%, rgba(255, 212, 195, 0.1) 80%);
  border-left: 2px rgba(143, 85, 64, 0.2) solid;
  filter: blur(0.4px);
}
.mario #ear-right span:nth-of-type(2) {
  width: 35%;
  height: 36%;
  border-radius: 50% 100% 0% 100%;
  left: 50%;
  top: 37%;
  background: linear-gradient(-150deg, #b37963 25%, #fbbca4 54%, rgba(255, 212, 195, 0.1) 80%);
  border-top: 2px rgba(143, 85, 64, 0.4) solid;
  border-left: 2px rgba(143, 85, 64, 0.4) solid;
  filter: blur(0.4px);
}

.bg-circles li .mario {
  height: 200%;
  width: calc(200%/1.532);
}

/*****LUIGI******/
 :root {
  --luigi-size: 80;
  --luigi-unit: calc((var(--luigi-size) / 489) * 1vmin);
  --luigi-skin: #b37a65;
  --luigi-sel: #ffe5db;
  --luigi-sm: #fbbba2;
  --luigi-sl: #ffd3c2;
  --luigi-elg: #4cbd56;
  --luigi-lg: #2e9434;
  --luigi-mg: #0e4e13;
  --luigi-dg: #0c2d0e;
  --luigi-b: #0f0613;
  --luigi-hair: #55100c;
  --luigi-hd: #802f2b;
}
.luigi {
  height: calc(489 * var(--luigi-unit));
  width: calc(371 * var(--luigi-unit));
  position: fixed;
  top: 11.5%;
  font-family: courier;
  text-align: center;
  font-size: calc(15 * var(--luigi-unit));
}
.luigi * {
  position: absolute;
}
.luigi .hat {
  width: 88%;
  height: 63%;
  top: 0%;
  left: 7%;
  background: radial-gradient(circle at 50% 20%, var(--luigi-lg) 30%, var(--luigi-mg) 60%, var(--luigi-dg) 80%);
  border-radius: 50% 50% 45% 45% / 70% 70% 35% 35%;
  z-index: 4;
}
.luigi .hat .logo {
  width: 34%;
  height: 34%;
  top: 10%;
  left: 33%;
  background: linear-gradient(180deg, white 60%, #757575 100%);
  border-radius: 50%;
  box-shadow: inset 1px 1px 5px #757575;
  border: 2px solid #ccc;
  z-index: -2;
}
.luigi .hat .logo span:nth-of-type(1) {
  width: 45%;
  height: 77%;
  top: 4%;
  left: 15%;
  background: linear-gradient(-90deg, var(--luigi-lg) 60%, var(--luigi-dg) 90%);
  clip-path: polygon(31% 100%, 25% 10%, 70% 10%, 65% 100%);
  -webkit-clip-path: polygon(31% 100%, 25% 10%, 70% 10%, 65% 100%);
}
.luigi .hat .logo span:nth-of-type(2) {
  width: 77%;
  height: 21%;
  top: 60%;
  left: 25%;
  background: linear-gradient(180deg, var(--luigi-lg) 80%, rgba(13, 49, 16, 0.7) 100%);
  clip-path: polygon(5% 100%, 25% 10%, 70% 10%, 68% 100%);
  -webkit-clip-path: polygon(5% 100%, 25% 10%, 70% 10%, 68% 100%);
}
.luigi .peak {
  width: 82%;
  height: 22%;
  top: 43%;
  left: 9%;
  background: radial-gradient(circle at 50% 170%, var(--luigi-lg) 20%, var(--luigi-dg) 80%);
  border-top: solid 10px var(--luigi-lg);
  border-radius: 50% 50% 0% 0%/ 100% 100% 0% 0%;
}
.luigi .peak::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  top: -30%;
  left: 5%;
  background: radial-gradient(circle at 50% 90%, var(--luigi-elg) 20%, var(--luigi-mg) 100%);
  z-index: -1;
  border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
}
.luigi .face {
  width: 63%;
  height: 65%;
  top: 32%;
  left: 19.5%;
  background: var(--luigi-skin);
  background: linear-gradient(276deg, var(--luigi-skin) 25%, var(--luigi-sm) 54%, var(--luigi-sl) 80%);
  border-radius: 45% 45% 50% 50% / 17% 17% 70% 70%;
  z-index: 5;
  overflow: hidden;
  box-shadow: inset 0px 2px 2px var(--luigi-skin);
}
.luigi .face #overlay {
  width: 100%;
  height: 20%;
  background: rgba(48, 37, 33, 0.2);
  filter: blur(3px);
  top: 0%;
  z-index: 20;
}
.luigi .face .brow, .luigi .face .brow-right {
  width: 27%;
  height: 13%;
  top: 0%;
  background: var(--luigi-b);
  border-radius: 50% 55% 0% 0% / 100% 100% 0% 0%;
}
.luigi .face .brow span:nth-of-type(1), .luigi .face .brow-right span:nth-of-type(1) {
  width: 94%;
  height: 76%;
  top: 67%;
  left: 3%;
  border-radius: 50%;
  background: var(--luigi-skin);
  background: linear-gradient(260deg, var(--luigi-sm) 54%, var(--luigi-sl) 100%);
}
.luigi .face .brow {
  left: 12%;
  transform: rotate(-10deg);
}
.luigi .face .brow-right {
  right: 12%;
  transform: scaleX(-1);
  transform: rotate(10deg);
}
.luigi .face .brow-right span:nth-of-type(1) {
  top: 67%;
  right: 3%;
  width: 94%;
  height: 76%;
  border-radius: 50%;
  background: var(--luigi-skin);
  background: linear-gradient(260deg, var(--luigi-skin) 70%, #e9ad96 100%);
}
.luigi .face .lip {
  width: 36%;
  height: 20%;
  bottom: 23%;
  left: 32%;
  border-radius: 50% / 20%;
  background: var(--luigi-skin);
  z-index: -2;
}
.luigi .face .mouth {
  width: 32%;
  height: 27%;
  bottom: 14%;
  left: 34%;
  border-radius: 0% 0% 100% 100%;
  background: radial-gradient(circle at 49% 95%, #d87f8c 5%, #a75461 20%, #2c0718 40%);
  z-index: -3;
  overflow: hidden;
}
.luigi .face .mouth::before {
  position: absolute;
  content: "";
  width: 110%;
  height: 30%;
  top: 34%;
  left: -5%;
  border-bottom: calc(10 * var(--luigi-unit)) solid #eeebeb;
  border-radius: 50%;
  box-shadow: 0em 0.2em 1em #2c0718;
  background: var(--luigi-skin);
}
.luigi .chin {
  width: 26%;
  height: 10%;
  bottom: 10%;
  left: 37%;
  border-radius: 0% 0% 50% 50%;
  border-bottom: 2px rgba(136, 93, 77, 0.3) solid;
  filter: blur(1px);
}
.luigi .nose {
  width: 55%;
  height: 39%;
  top: 28%;
  right: 23%;
  border: calc(var(--luigi-unit) * 0.3) var(--luigi-sel) solid;
  background: radial-gradient(circle at 33% 24%, var(--luigi-sel) 15%, var(--luigi-sl) 30%, var(--luigi-sm) 54%, #8c604f 80%);
  border-radius: 88% 88% 100% 100%;
  z-index: 10;
}
.luigi .tash {
  width: 110%;
  height: 50%;
  top: 7%;
  left: -5%;
  background: linear-gradient(276deg, var(--luigi-skin) 25%, var(--luigi-sm) 54%, var(--luigi-sl) 80%);
  z-index: -1;
  border-radius: 50%;
}
.luigi #tash-l, .luigi #tash-r {
  width: 50%;
  height: 35%;
  border-radius: 50% 30% 50% 50%/ 50% 50% 50% 50%;
  z-index: -1;
  bottom: 25%;
  background: radial-gradient(circle at 49% 35%, var(--luigi-b) 20%, #472e32 45%, var(--luigi-b) 60%);
  overflow: hidden;
}
.luigi #tash-l::before, .luigi #tash-r::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  top: 15%;
  background: rgba(15, 6, 19, 0.9);
  box-shadow: 0em 1em 2em 1em var(--luigi-b);
}
.luigi #tash-l {
  left: 5%;
}
.luigi #tash-l::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  top: 15%;
  left: 0%;
  background: rgba(15, 6, 19, 0.9);
  box-shadow: 1em 0em 2em 1em var(--luigi-b);
}
.luigi #tash-r {
  right: 5%;
}
.luigi .eye-left, .luigi .eye-right {
  width: 24%;
  height: 28%;
  border-radius: 50%;
  top: 13.5%;
  background: linear-gradient(0deg, white 77%, #757575 100%);
  z-index: 1;
  overflow: hidden;
  box-shadow: -1px -1px 2px #8f5540, 1px 2px 2px #8f5540;
}
.luigi .eye-left *, .luigi .eye-right * {
  border-radius: 50%;
}
.luigi .eye-left span:nth-of-type(1), .luigi .eye-right span:nth-of-type(1) {
  width: 79%;
  height: 76%;
  top: 13%;
  left: 25%;
  border: calc(var(--luigi-unit) * 0.5) #5050be solid;
  background: radial-gradient(circle at 70% 60%, #2eceff 50%, #4f38ff 80%);
}
.luigi .eye-left span:nth-of-type(2), .luigi .eye-right span:nth-of-type(2) {
  width: 45%;
  height: 46%;
  top: 30%;
  left: 45%;
  background: radial-gradient(circle at 60% 60%, #2b1d95 20%, #1c1c1c 30%);
}
.luigi .eye-left span:nth-of-type(3), .luigi .eye-right span:nth-of-type(3) {
  width: 12%;
  height: 10%;
  top: 36%;
  left: 62%;
  background: white;
  filter: blur(1px);
}
.luigi .eye-left {
  left: 18.5%;
}
.luigi .eye-right {
  right: 18%;
  transform: scaleX(-1);
}
#hair-left, #hair-right {
  width: 15%;
  height: 27%;
  background: linear-gradient(87deg, var(--luigi-hd) 25%, var(--luigi-hair) 40%);
  z-index: 4;
  top: 39%;
  border-radius: 70% 50% 0% 100% / 60% 50% 0% 100%;
}
#hair-left {
  left: 14%;
}
#hair-right {
  right: 13%;
  background: linear-gradient(87deg, var(--luigi-hd) 5%, var(--luigi-hair) 28%);
  transform: scaleX(-1);
}
.hair-back {
  width: 13%;
  height: 10%;
  background: var(--luigi-hair);
  bottom: 10%;
  border-radius: 50%;
}
#l {
  left: 26%;
}
#r {
  right: 24%;
}
#ear-left, #ear-right {
  width: 18%;
  height: 25%;
  background: var(--luigi-skin);
  top: 52%;
  z-index: -1;
  border-radius: 50% 0% 0% 100% / 22% 0% 0% 62%;
  background: linear-gradient(276deg, var(--luigi-skin) 5%, var(--luigi-sm) 54%);
}
#ear-left *, #ear-right * {
  background: linear-gradient(-150deg, var(--luigi-skin) 25%, var(--luigi-sm) 54%, rgba(253, 143, 99, 0.1) 80%);
  border-left: 2px rgba(143, 85, 64, 0.4) solid;
}
#ear-left span:nth-of-type(1), #ear-right span:nth-of-type(1) {
  top: 17%;
  left: 20%;
  width: 65%;
  height: 56%;
  border-radius: 50% 100% 0% 100%;
}
#ear-left span:nth-of-type(2), #ear-right span:nth-of-type(2) {
  top: 37%;
  left: 50%;
  width: 35%;
  height: 36%;
  border-radius: 50% 100% 0% 100%;
}
#ear-left {
  left: 7%;
}
#ear-right {
  right: 5%;
  transform: scaleX(-1);
  background: linear-gradient(276deg, var(--luigi-skin) 45%, #d89e88 100%);
}

.bg-circles li .luigi {
  height: 85%;
  width: calc(85%/(1.25));
}
